{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>



<script type="text/javascript">

$(document).ready(function(){
  var datePickerOptions = {
      dateFormat: 'yy/m/d',
      firstDay: 1,
      changeMonth: true,
      changeYear: true,
      // ...
  };
    $.getJSON( '/datepicker', function( response ) {
      console.log("Response from /datepicker", response);

      var engage_HTML = response.C;

          console.log("Engaged Table HTML", engage_HTML);
          $('#ENGAGEtable').html(engage_HTML);
          $( ".spin-grid" ).removeClass( "fa-spin" );

        });

      });
      $('body').on('click', '#date', function() {
        var tdid = $(this).parents("tr").children("td:first").text();
        $(".fid").val(tdid);
        var tdname = $(this).parents("tr").children("td:nth-child(2)").text();
      $(".pname").val(tdname);
          var tdplink = $(this).parents("tr").children("td:nth-child(6)").text();
        $(".plink").val(tdplink);
        $('#edate').datepicker({
          format: 'dd-mm-yy'
        }).on('hide', function(event) {
          event.preventDefault();
          event.stopPropagation();
        });
      });
      $('body').on('click', '#done', function() {
        var id = $('input[name="eid"]').val();
        var eDate = $( "#edate" ).datepicker( "getDate" );
        var format_date = $.datepicker.formatDate("dd-mm-yy", eDate);
        var eName = $('input[name="eng_name"]').val();
        var growl = 'ID number: ' + id;
        console.log(eName);
        console.log(format_date);
        console.log(id);
          $.bootstrapGrowl( growl , {
              ele: 'body',
              type: 'success',
              offset: {from: 'top', amount: 20},
              align: 'right'
            });
      $.getJSON( '/edates', { 'eid' : id, 'date': format_date } , function( response ) {
        console.log(response['C'])
        $('#ENGAGEtable').find('td').remove();
        var engage_HTML = response.C;
        $('#ENGAGEtable').html(engage_HTML);
        $( ".spin-grid" ).removeClass( "fa-spin" );
      });

        });
        $('body').on('click', '#copy-btn', function() {
          $(this).find('input').focus();
          $(this).find('input').select();
          document.execCommand('copy');
          // textArea.value = copyText.textContent;
          // console.log(textArea.value);
          // document.body.appendChild(textArea);
          // textArea.select();
          // document.execCommand("Copy");
          // textArea.remove();
          $.bootstrapGrowl( 'Copied!' , {
              ele: 'body',
              type: 'success',
              offset: {from: 'top', amount: 20},
              align: 'right'
            });
        });

</script>
<style>
.table td.text {
    max-width: 177px;
}
.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
.table {
  font-size: 10px;
  table-layout: fixed;
}

.table tr,.table td {
   height: 10px;
   text-align: center
}

</style>

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
<h3 class="text-center">Engagements</h3>
<p class="text-center">Actively Selling to These Users</p>
</div>
<div class="col-sm-3">
</div>
</div>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
  <table id="ENGAGEtable" class="table table-hover table-sm">


        </table>
      </div>
      <div class="col-sm-1">
      </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Date of Last Contact</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <div class="modal-body">
                <div class="row">
                    <div class="col-md-9">
                      <div class="form-horizontal dateform">
                        <div class="form-group">
                            <!-- add "has-error" for validation-->
                            <label class="control-label col-xs-6 col-md-4">ID</label>
                            <div class="col-xs-12 col-sm-6 col-md-8">
                                <input type="text" name="eid" class="form-control fid" placeholder="123">
                              </div>
                            </div>
                            <div class="form-group">
                                <!-- add "has-error" for validation-->
                                <label class="control-label col-xs-6 col-md-4">Name</label>
                                <div class="col-xs-12 col-sm-6 col-md-8">
                                    <input type="text" name="eng_name" class="form-control pname" placeholder="Name">
                                  </div>
                                </div>
                          <div class="form-group">
                              <!-- add has-error for validation-->
                              <label class="control-label col-xs-6 col-md-4">PROS Link</label>
                              <div class="col-xs-12 col-sm-6 col-md-8">
                                <div class="input-group addon">
                                  <input type="text" id="PROS" class="form-control plink" placeholder="PROSC">
                                  <span class="input-group-addon" id="copy-btn"><i class="fas fa-copy"></i></span>
                                </div>
                              </div>
                                </div>
                          <div class="form-group">
                            <label class="control-label col-xs-6 col-md-4">Date</label>
                            <input type="text" id="edate" class="form-control">
                          </div>
                        </div>
                      </div>
                      </div>
                      </div>
                      <div class="row">
                          <div class="col-md-9">
                          </div>
                          <div class="col-md-3">
                            <div class="modal-footer">
                              <button type="button" id="done" class="btn btn-secondary" data-dismiss="modal">Done</button>
                            </div>
                          </div>
                        </div>

        </div>
      </div>
    </div>
{% endblock %}
