{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<script>
$(document).ready(function(){
  var newchart1=null;
  var newchart2=null;
    $.getJSON( '/chartgenerator', function( response ) {
      console.log(response);
      var data1 = response.A;

      console.log(data1);

          $(function() {
        //...

        var ctx = document.getElementById("dchart").getContext("2d");
        var newchart1 = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: data1['labels'],
                datasets: [{
                    backgroundColor: ["#c45850", "#e8c3b9", "#3cba9f", "#8e5ea2", "#3e95cd", "#FFFF00"],
                    data: data1['datasets']
                }]
            },
            options: {}
        });
        var data2 = response.B;
        var ctx = document.getElementById("bchart").getContext("2d");
        console.log(ctx);
        console.log(data2);
        var newchart2 = new Chart(ctx, {
            type: 'bar',
            data: data2,
            options: {
              scales: {
                xAxes: [{stacked: true}],
                yAxes: [{
                  stacked: true,
        	        ticks: {
          	beginAtZero: true
           }
        }]
        }
            }
        });

    });

    // function drawdough() {
    //
    //     var ctx = document.getElementById("mychart").getContext("2d");
    //
    //     console.log(ctx);
    //     var newchart = new Chart(ctx, {
    //         type: 'doughnut',
    //         data: {
    //             labels: data['labels'],
    //             datasets: [{
    //                 backgroundColor: ["#c45850", "#e8c3b9", "#3cba9f", "#8e5ea2", "#3e95cd", "#FFFF00"],
    //                 data: data['datasets']
    //             }]
    //         },
    //         options: {}
    //     });
    // }
//     $(function() {
//   //...
//
//   // drawbar(data);
//
// });
    // function drawbar() {
    //     var ctx = document.getElementById("mychart").getContext("2d");
    //     console.log(ctx);
    //     console.log(data);
    //     var newchart = new Chart(ctx, {
    //         type: 'bar',
    //         data: data,
    //         options: {
    //           scales: {
    //             xAxes: [{stacked: true}],
    //             yAxes: [{
    //               stacked: true,
    //     	        ticks: {
    //       	beginAtZero: true
    //        }
    //     }]
    //     }
    //         }
    //     });
    // }
  });
  $("#chartselect").on('change', function() {

    var selection = $('#chartselect').val();
    if (selection === 'doughnut') {
      if(newchart1!=null){
        newchart1.destroy();
        $("canvas#dchart").remove();
        $("div.dchartdiv").append('<canvas id="dchart" width="600" height="400"></canvas>');
    }
      console.log(selection);
      $.getJSON( '/chartgenerator', { 'data' : selection } , function( response ) {
        console.log(response);
        var data1 = response;
        var ctx = document.getElementById("dchart").getContext("2d");

        console.log(ctx);
        var newchart1 = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: data1['labels'],
                datasets: [{
                    backgroundColor: ["#c45850", "#e8c3b9", "#3cba9f", "#8e5ea2", "#3e95cd", "#FFFF00"],
                    data: data1['datasets']
                }]
            },
            options: {}
        });

      });
    }else if(selection === 'stackedbar') {
      if(newchart2!=null){
        newchart2.destroy();
        $("canvas#bchart").remove();
        $("div.bchartdiv").append('<canvas id="bchart" width="600" height="400"></canvas>');
    }
      console.log(selection);
      var selection = $('#chartselect').val();
      $.getJSON( '/chartgenerator', { 'data' : selection } , function( response ) {
        console.log(response);
        var data2 = response;
        var ctx = document.getElementById("bchart").getContext("2d");
        console.log(ctx);
        console.log(data2);
        var newchart2 = new Chart(ctx, {
            type: 'bar',
            data: data2,
            options: {
              scales: {
                xAxes: [{stacked: true}],
                yAxes: [{
                  stacked: true,
        	        ticks: {
          	beginAtZero: true
           }
        }]
        }
            }
        });

      });
    }else{

    }

  });
});
</script>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <select name="chartselect" id="chartselect">
        <option value="doughnut">Status</option>
        <option value="stackedbar">History</option>
      </select>
        </div>
      </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body" id="dchartdiv">
                    <canvas id="dchart" width="600" height="400"></canvas>
                </div>
                <div class="card-body" id="bchartdiv">
                    <canvas id="bchart" width="600" height="400"></canvas>
                </div>
            </div>
        </div>
     </div>
</div>



{% endblock %}
