{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<script>
$(document).ready(function(){
    $.getJSON( '/indexitems', function( response ) {
      console.log("Response from /indexitems", response);

      var track_HTML = response.A;
      var drop_HTML = response.B;
      var engage_HTML = response.C;

          console.log("TrackAlert Table HTML", track_HTML);
          $('#LEADtable').html(track_HTML);
          $( ".spin-grid" ).removeClass( "fa-spin" );
          console.log("Dropped Table HTML", drop_HTML);
          $('#DROPtable').html(drop_HTML);
          $( ".spin-grid" ).removeClass( "fa-spin" );
          console.log("Engaged Table HTML", engage_HTML);
          $('#ENGAGEtable').html(engage_HTML);
          $( ".spin-grid" ).removeClass( "fa-spin" );
        });
      });



     $(document).on('click', 'li', function(){
         var selection = $(this).parents('.dropdown').find('button').text($(this).text());
         console.log("Button Dropdown Selection", selection);

         $.bootstrapGrowl(selection.text(), {
             ele: 'body',
             type: 'success',
             offset: {from: 'top', amount: 20},
             align: 'right'
           });

          if (selection.text() === 'Manual Track') {
              var link=prompt("Enter LinkedIn Profile Address");
              if (link === null) {
                $.bootstrapGrowl('Please Enter a Link', {
                    ele: 'body',
                    type: 'success',
                    offset: {from: 'top', amount: 20},
                    align: 'right'
                  });
                      return; //break out of the function early
                }
              }

         var id = $(this).closest("tr").children().first().html();
            console.log("ID from table captured", id);
         var table = $(this).closest('table').attr('id')
            console.log("Table captured", table);

           $.getJSON( '/confirm', { 'id' : id, 'selection': selection.text(), 'table': table, 'link': link } , function( response ) {

               if (table === 'LEADtable') {
                   $('#LEADtable').find('td').remove();
                   var lead_HTML = response.A
                   $('#LEADtable').html(lead_HTML);
                   $( ".spin-grid" ).removeClass( "fa-spin" );
               }else if (table == 'DROPtable') {
                  $('#DROPtable').find('td').remove();
                  var drop_HTML = response.B
                  $('#DROPtable').html(drop_HTML);
                  $( ".spin-grid" ).removeClass( "fa-spin" );
                }else if (table == 'ENGAGEtable') {
                   $('#ENGAGEtable').find('td').remove();
                   var engage_HTML = response.C
                   $('#ENGAGEtable').html(engage_HTML);
                   $( ".spin-grid" ).removeClass( "fa-spin" );
                 }
                });
              });





</script>
<style>
.table td.text {
    max-width: 177px;
}
.table td.text span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}
.table {
  font-size: 10px;
  table-layout: fixed;
}

.table tr,.table td {
   height: 10px;
   text-align: center
}

</style>


<p align="right">Logged In: {{ current_user.name }}</p>
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
    <p class="text-center"><b>leaverslead</b> TAG If Lead Entered</p>
<h3 class="text-center">TrackAlerts</h3>
<p class="text-center">LinkedIn Profile Changes Detected</p>
</div>
<div class="col-sm-3">
</div>
</div>

<div>
<h3></h3>
<p></p>

<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
  <table id="LEADtable" class="table table-hover table-sm table-hover-cursor">


        </table>
      </div>
      <div class="col-sm-1">
      </div>
      </div>
<br>
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
<h3 class="text-center">Dropped from LJFT Bucket</h3>
<p class="text-center">The Users Below are NO LONGER in the LJFT Shell.</p>
</div>
<div class="col-sm-3">
</div>
</div>
    <div class="row">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">

    <table id="DROPtable" class="table table-hover table-sm">

          </table>
          </div>
          <div class="col-sm-1">
          </div>
    </div>
<br>
<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
<h3 class="text-center">Engagements</h3>
<p class="text-center">Actively Selling to These Users</p>
</div>
<div class="col-sm-3">
</div>
</div>
<div class="row">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-10">
  <table id="ENGAGEtable" class="table table-hover table-sm">


        </table>
      </div>
      <div class="col-sm-1">
      </div>
    </div>

  <script>

      </script>

{% endblock %}
