{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<script>
$(document).ready(function(){
    $.getJSON( '/actionitems', function( response ) {
      console.log(response);
      var trHTML = response.B
      var drHTML = response.A
      var erHTML = response.C
          console.log(trHTML);
          $('#LEADtable').html(trHTML);
          $( ".spin-grid" ).removeClass( "fa-spin" );
          console.log(drHTML);
          $('#DROPtable').html(drHTML);
          $( ".spin-grid" ).removeClass( "fa-spin" );
          console.log(erHTML);
          $('#ENGAGEtable').html(erHTML);
          $( ".spin-grid" ).removeClass( "fa-spin" );
          });
          });


    // user clicks confirm in table once they update users PROS record with new job info
    $("#LEADtable").on('click','.lead',function(){
         // get the current row
         var currentRow=$(this).closest("tr");

         var id=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
         console.log(id);

         $.getJSON( '/confirm', { 'data' : id, 'action': 'Lead' } , function( response ) {
           $.bootstrapGrowl("Lead Entry Confirmed", {
               ele: 'body',
               type: 'success',
               offset: {from: 'top', amount: 20},
               align: 'right'
             });
             $('#Leadtable').find('td').remove();
             var trHTML = response.B
                 console.log(trHTML);
                 $('#LEADtable').html(trHTML);
                 $( ".spin-grid" ).removeClass( "fa-spin" );

           });
         });


         $("#LEADtable").on('click','.recapture',function(){
              // get the current row
              var currentRow=$(this).closest("tr");

              var id=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
              console.log(id);

              $.getJSON( '/confirm', { 'data' : id, 'action': 'Recapture' } , function( response ) {
                $.bootstrapGrowl("Recapture Confirmed", {
                    ele: 'body',
                    type: 'success',
                    offset: {from: 'top', amount: 20},
                    align: 'right'
                  });
                  $('#LEADtable').find('td').remove();
                  var trHTML = response.B
                      console.log(trHTML);
                      $('#LEADtable').html(trHTML);
                      $( ".spin-grid" ).removeClass( "fa-spin" );

                });
         });

         $("#LEADtable").on('click','.left',function(){
              // get the current row
              var currentRow=$(this).closest("tr");

              var id=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
              console.log(id);

              $.getJSON( '/confirm', { 'data' : id, 'action': 'Left' } , function( response ) {
                $.bootstrapGrowl("Confirmed. User Left Industry", {
                    ele: 'body',
                    type: 'success',
                    offset: {from: 'top', amount: 20},
                    align: 'right'
                  });
                  $('#LEADtable').find('td').remove();
                  var trHTML = response.B
                      console.log(trHTML);
                      $('#LEADtable').html(trHTML);
                      $( ".spin-grid" ).removeClass( "fa-spin" );

                });
         });


      $("#LEADtable").on('click','.error',function(){
           // get the current row
           var currentRow=$(this).closest("tr");

           var id=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
           console.log(id);

           $.getJSON( '/confirm', { 'data' : id, 'action': 'Error' } , function( response ) {
             $.bootstrapGrowl("Resetting User's Information", {
                 ele: 'body',
                 type: 'success',
                 offset: {from: 'top', amount: 20},
                 align: 'right'
               });
               $('#LEADtable').find('td').remove();
               var trHTML = response.B
                   console.log(trHTML);
                   $('#LEADtable').html(trHTML);
                   $( ".spin-grid" ).removeClass( "fa-spin" );

             });
      });
      // user clicks confirm in table once they update users PROS record with new job info
      // moved droppedout inactive

      $("#DROPtable").on('click','.recapture',function(){
           // get the current row
           var currentRow=$(this).closest("tr");

           var id=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
           console.log(id);

           $.getJSON( '/dropclick', { 'data' : id, 'action': 'Recapture' } , function( response ) {
             $.bootstrapGrowl("Recapture Confirmed", {
                 ele: 'body',
                 type: 'success',
                 offset: {from: 'top', amount: 20},
                 align: 'right'
               });
               $('#DROPtable').find('td').remove();
               var trHTML = response.A
                   console.log(trHTML);
                   $('#DROPtable').html(trHTML);
                   $( ".spin-grid" ).removeClass( "fa-spin" );
                   });
           });
        $("#DROPtable").on('click','.lead',function(){
             // get the current row
             var currentRow=$(this).closest("tr");

             var id=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
             console.log(id);

             $.getJSON( '/dropclick', { 'data' : id, 'action': 'Lead' } , function( response ) {
               $.bootstrapGrowl("Lead Entry Confirmed", {
                   ele: 'body',
                   type: 'success',
                   offset: {from: 'top', amount: 20},
                   align: 'right'
                 });
                 $('#DROPtable').find('td').remove();
                 var trHTML = response.A
                     console.log(trHTML);
                     $('#DROPtable').html(trHTML);
                     $( ".spin-grid" ).removeClass( "fa-spin" );
                     });
        });

        $("#DROPtable").on('click','.mtrack',function(){
             // get the current row
             var currentRow=$(this).closest("tr");
             var link=prompt("Please Enter Leavers LinkedIn Profile Link","Link");
             var id=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
             console.log(id);

             $.getJSON( '/dropclick', { 'data' : id, 'action': 'mtrack', 'lnk': link } , function( response ) {
               $.bootstrapGrowl("Tracking Leaver", {
                   ele: 'body',
                   type: 'success',
                   offset: {from: 'top', amount: 20},
                   align: 'right'
                 });
                 $('#DROPtable').find('td').remove();
                 var trHTML = response.A
                     console.log(trHTML);
                     $('#DROPtable').html(trHTML);
                     $( ".spin-grid" ).removeClass( "fa-spin" );
                     });
        });



        $("#DROPtable").on('click','.left',function(){
             // get the current row
             var currentRow=$(this).closest("tr");

             var id=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
             console.log(id);

             $.getJSON( '/dropclick', { 'data' : id, 'action': 'Left Industry' } , function( response ) {
               $.bootstrapGrowl("Confirmed User Left Industry", {
                   ele: 'body',
                   type: 'success',
                   offset: {from: 'top', amount: 20},
                   align: 'right'
                 });
                 $('#DROPtable').find('td').remove();
                 var trHTML = response.A
                     console.log(trHTML);
                     $('#DROPtable').html(trHTML);
                     $( ".spin-grid" ).removeClass( "fa-spin" );
                     });
        });

        $("#DROPtable").on('click','.inactive',function(){
             // get the current row
             var currentRow=$(this).closest("tr");

             var id=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
             console.log(id);

             $.getJSON( '/dropclick', { 'data' : id, 'action': 'Inactive' } , function( response ) {
               $.bootstrapGrowl("Confirmed User is Inactive with No Clear Leads", {
                   ele: 'body',
                   type: 'success',
                   offset: {from: 'top', amount: 20},
                   align: 'right'
                 });
                 $('#DROPtable').find('td').remove();
                 var trHTML = response.A
                     console.log(trHTML);
                     $('#DROPtable').html(trHTML);
                     $( ".spin-grid" ).removeClass( "fa-spin" );
                     });
        });

     //    $(function(){
     //      $(".dropdown-menu").on('click', 'a', function(){
     //        var selection = $(this).parents('.dropdown').find('button').text($(this).text());
     //        var test = $(this).parent().siblings().find("select").val();
     //        var id = $(this).closest("tr").children().first().html();
     //        alert(test.text());
     //        console.log(selection);
     //        console.log(test);
     //        console.log(id);
     //
     //        $.getJSON( '/dropclick', { 'data' : id, 'action': selection } , function( response ) {
     //          $.bootstrapGrowl("Confirmed User is Inactive with No Clear Leads", {
     //              ele: 'body',
     //              type: 'success',
     //              offset: {from: 'top', amount: 20},
     //              align: 'right'
     //            });
     //            $('#DROPtable').find('td').remove();
     //            var trHTML = response.A
     //                console.log(trHTML);
     //                $('#DROPtable').html(trHTML);
     //                $( ".spin-grid" ).removeClass( "fa-spin" );
     //                });
     //   });
     // });

     // $(function(){
     //    $(".LEADtable").on('click', 'li', function(){
     //        var selection = $(this).parents('.dropdown').find('button').text($(this).text());
     //        var id = $(this).closest("tr").children().first().html();
     //        alert(selection.text());
     //        alert(id);
     //    });
     // });
     $(document).on('click', 'li', function(){
         var selection = $(this).parents('.dropdown').find('button').text($(this).text());
         console.log(selection);
         $.bootstrapGrowl(selection.text(), {
             ele: 'body',
             type: 'success',
             offset: {from: 'top', amount: 20},
             align: 'right'
           });
           // $.bootstrapGrowl(selection, {
           //     ele: 'body',
           //     type: 'success',
           //     offset: {from: 'top', amount: 20},
           //     align: 'right'
           //   });
          if (selection.text() === 'Manual Track') {
              var link=prompt("Enter LinkedIn Profile Address");
          }else {
              var link='';
            }

         var id = $(this).closest("tr").children().first().html();
         var table = $(this).closest('table').attr('id')


           $.getJSON( '/confirm', { 'id' : id, 'selection': selection.text(), 'table': table, 'link': link } , function( response ) {

               if (table === 'LEADtable') {
                   $('#LEADtable').find('td').remove();
                   var trHTML = response.B
                   $('#LEADtable').html(trHTML);
                   $( ".spin-grid" ).removeClass( "fa-spin" );
               }else if (table == 'DROPtable') {
                  $('#DROPtable').find('td').remove();
                  var trHTML = response.A
                  $('#DROPtable').html(trHTML);
                  $( ".spin-grid" ).removeClass( "fa-spin" );
                }else if (table == 'ENGAGEtable') {
                   $('#ENGAGEtable').find('td').remove();
                   var erHTML = response.C
                   $('#ENGAGEtable').html(erHTML);
                   $( ".spin-grid" ).removeClass( "fa-spin" );
                 }
               // $('#DROPtable').find('td').remove();
               // var trHTML = response.A
               //     console.log(trHTML);
               //     $('#DROPtable').html(trHTML);
               //     $( ".spin-grid" ).removeClass( "fa-spin" );
                   });
         });



    // what you want to happen when mouseover and mouseout
    // occurs on elements that match '.dosomething'


     // $(function(){
     //   $(".dropdown-select").on('click', 'a', function(){
     //     var selection = $(this).parents('.dropdown').find('button').text($(this).text());
     //     var id = $(this).closest("tr").children().first().html();
     //     // alert(selection.text());
     //     alert(selection.text());
     //   });
     // });

</script>



<p align="right">Logged In: {{ current_user.name }}</p>
<p>TAG <b>leaverslead</b> If Lead Entered</p>
<div>
<h3>TrackAlerts</h3>
<p>LinkedIn Profile Changes Detected</p>

<div>
  <table id="LEADtable" class="table table-hover table-dark">


        </table>
  </div>
</div>
<br>
<div>
<h3>Dropped from LJFT Bucket</h3>
<p>The Users Below are NO LONGER in the LJFT Shell.</p>
  <div>
    <table id="DROPtable" class="table table-hover table-dark">

          </table>
    </div>
</div>
<br>
<div>
<h3>Engagements</h3>
<p>Actively Selling to These Users</p>
<div>
  <table id="ENGAGEtable" class="table table-hover table-dark">


        </table>
  </div>
</div>

  <script>

      </script>

{% endblock %}
