{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<script>
  $(document).ready(function() {
            // LOAD DROPDOWN //
    $.getJSON( '/ndrop', function( response ) {
                console.log(response);
              // Remove old options
              $('#navdrop1').find('option').remove();
              var trHTML = '<option value="Select Leaver"</option>';
              // Add new items
              for(var f=0;f<response.length;f++) {
                trHTML += '<option value="' + response[f]['ident'] + '">' + response[f]['name'] + '</option>'
              }
              console.log(trHTML);
                $('#navdrop1').append(trHTML);
              });
              // REACT To DROPDOWN //
    $("#navdrop1").on('change', function() {
      var selection = $('#navdrop1').val();
      $.getJSON( '/ajax', { 'data' : selection } , function( response ) {
        // console.log(response);
        console.log(response.B.length);
        var trHTML = '<thead><tr><th>ID</th><th>Name</th><th>Role</th><th>Firm</th><th>Location</th><th>Link</th></tr></thead><tbody>';
        var cardHTML = '<div id="PROS"><div class="card-body"><div class="text-center"><h5 class="card-title">PROS Record</h5></div><ul class="list-group list-group-flush"><li class="list-group-item">Name: ';
            cardHTML += response.A['leavername'] + '<li class="list-group-item">Role: '
                      + response.A['leaverrole'] + '</li><li class="list-group-item">Firm: '
                      + response.A['leaverfirm'] + '</li><li class="list-group-item">Date Added: '
                      + response.A['leavertime'] + '</li></ul></div>';

        for(var f=0;f<response.B.length;f++) {
          console.log(f);
          trHTML += '<tr><td>'
                    + response.B[f].ident + '</td><td>'
                    + response.B[f].name + '</td><td>'
                    + response.B[f].role + '</td><td>'
                    + response.B[f].firm+ '</td><td>'
                    + response.B[f].location + '</td><td><a target="_blank" href="'
                    + response.B[f].link + ' ">LinkedIn</a></td><td><button class="btnSelect1">Lead</button><button class="btnSelect2">Track</button><button class="btnSelect3">Place</button><button class="btnSelect4">Remove</button></td></tr>';
            }

            trHTML += '</tbody>';
            console.log(trHTML);
            console.log(cardHTML);
            $('#result123').html(trHTML);
            $('#comparecard').html(cardHTML);
            $( ".spin-grid" ).removeClass( "fa-spin" );

          });

      });

      // Lead BUTTON CLICK //

      $("#result123").on('click','.btnSelect1',function(){
           // get the current row
           var currentRow=$(this).closest("tr");

           var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value

      $.getJSON( '/leadclick', { 'data' : col1 } , function( response ) {
        $.bootstrapGrowl("Lead Selected", {
            ele: 'body',
            type: 'success',
            offset: {from: 'top', amount: 20},
            align: 'right'
          });
          $('#result123').find('td').remove();
          $('#navdrop1').find('option').remove();
          $('#comparecard').find("#PROS").remove();
          var trHTML = '';
          // Add new items
          for(var f=0;f<response.length;f++) {
            trHTML += '<option value="' + response[f]['ident'] + '">' + response[f]['name'] + '</option>'
          }
          console.log(trHTML);
            $('#navdrop1').append(trHTML);

        });
        });

// Track BUTTON CLICK //

        $("#result123").on('click','.btnSelect2',function(){
             // get the current row
             var currentRow=$(this).closest("tr");

             var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value

        $.getJSON( '/trackclick', { 'data' : col1 } , function( response ) {
          $.bootstrapGrowl("Tracking Leaver", {
              ele: 'body',
              type: 'success',
              offset: {from: 'top', amount: 20},
              align: 'right'
            });
            $('#result123').find('td').remove();
            $('#navdrop1').find('option').remove();
            $('#comparecard').find("#PROS").remove();

            var trHTML = '<option value="Select Leaver"</option>';
            // Add new items
            for(var f=0;f<response.length;f++) {
              trHTML += '<option value="' + response[f]['ident'] + '">' + response[f]['name'] + '</option>'
            }
            console.log(trHTML);
              $('#navdrop1').append(trHTML);

          });
          });

          // PLACE BUTTON CLICK //

          $("#result123").on('click','.btnSelect3',function(){
               // get the current row
               var currentRow=$(this).closest("tr");

               var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value

          $.getJSON( '/placeclick', { 'data' : col1 } , function( response ) {
            $.bootstrapGrowl("Leaver Placed", {
                ele: 'body',
                type: 'success',
                offset: {from: 'top', amount: 20},
                align: 'right'
              });
              $('#result123').find('td').remove();
              $('#navdrop1').find('option').remove();
              $('#comparecard').find("#PROS").remove();

              var trHTML = '<option value="Select Leaver"</option>';
              // Add new items
              for(var f=0;f<response.length;f++) {
                trHTML += '<option value="' + response[f]['ident'] + '">' + response[f]['name'] + '</option>'
              }
              console.log(trHTML);
                $('#navdrop1').append(trHTML);

            });
            });

            // DELETE BUTTON CLICK //
          $("#result123").on('click','.btnSelect4',function(){
               // get the current row
               var currentRow=$(this).closest("tr");

               var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value

          $.getJSON( '/removeclick', { 'data' : col1 } , function( response ) {
            $.bootstrapGrowl("Suspect Removed", {
                ele: 'body',
                type: 'success',
                offset: {from: 'top', amount: 20},
                align: 'right'
              });
              $('#result123').find('td').remove();
              var trHTML = '<thead><tr><th>ID</th><th>Name</th><th>Role</th><th>Link</th></tr></thead><tbody>';
              for(var f=0;f<response.length;f++) {
                trHTML += '<tr><td>'
                          + response[f].ident + '</td><td>'
                          + response[f]['name'] + '</td><td>'
                          + response[f]['role'] + '</td><td>'
                          + response[f]['firm'] + '</td><td>'
                          + response[f]['location'] + '</td><td><a target="_blank" href="'
                          + response[f]['link'] + ' ">LinkedIn</a></td><td><button class="btnSelect1">Lead</button><button class="btnSelect2">Track</button><button class="btnSelect3">Place</button><button class="btnSelect4">Remove</button></td></tr>';
                  }
                  trHTML += '</tbody>';
                  console.log(trHTML);
                  $('#result123').html(trHTML);
                  $( ".spin-grid" ).removeClass( "fa-spin" );

                });
              });

            });




  </script>



  <div class="container-fluid">
            <div class="col-md-3">
              <select name="navdrop" id="navdrop1">

                  <!-- Dropdown options go here -->
              </select>

              </div>
              <div class="col-md-6">
                <h2 class="text-center">Step 2: Track</h2>
                <h6 class="text-center"> Match LinkedIn Profile Summary to PROS Data</h6>
              </div>
              <div class="col-md-3">
                <div id="comparecard" class="card bg-light text-dark border-primary">
                    <!-- Card data populated here -->

                  </div>
                </div>
            </div>


    <table id="result123" class="table table-hover table-dark">

          </table>


{% endblock %}
