{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<p align="right">Logged In: {{ current_user.name }}</p>
<div class="row">
  <div class="col-lg-12">
<h1 class="text-center">Step 1: Upload Excel File</h1>
</div>
</div>
<br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11">
    <h6> <b>Upload Instructions</b></h6>
  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11">
      <p>*Please Upload an .xlsx File from the CSRC Search 'Hedge Fund Leavers'</p>
  </div>
  </div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-11">
      <p>*File Should Match the Example Below</p>
  </div>
  </div>


    <br>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    <table id="exTable" class="table table-hover">
            <thead>
              <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>853861</td>
                <td>1234567</td>
                <td>JANE</td>
                <td>DOE</td>
                <td>JBUH</td>
                <td>HF3</td>
                <td>Trader</td>
                <td>JP MORGAN SECURITIES LLC</td>
              </tr>
            </tbody>
          </table>
  </div>
  <div class="col-md-1">
  </div>
</div>
  <br>
<br><br>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-9">
  <form action="" method="post" enctype="multipart/form-data" class="upload"><p>
      <input type="file" name="file"></p><p>
      <input type="submit" class="btn btn-primary mb-2" value="UploadLeaver"></p>
    </form>
  </div>
  <div class="col-md-3">
  </div>
</div>



{% endblock %}
